<!DOCTYPE html>
<html lang="en">

<head>
    <title>Booking Form Page</title>
    <%- include('../public/partials/head'); %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/timepicker.css" />
        <style>
            .center-screen {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #212529;
                min-height: 100vh;
            }
        </style>
</head>

<body>
    <%- include('../public/partials/studentNav'); %>
        <div class="container center-screen">
            <form id="bookingForm">
                <div class="d-flex flex-column justify-content-center">
                    <div class="p-5">
                        <h1>Booking Details</h1>
                    </div>
                    <div class="flex-grow-1 ms-3 row justify-content-left">
                        <h3>Summary:</h3>
                    </div>
                </div>
                <div style="display: flex; flex-direction:row;">
                    <div class="d-flex ">
                        <div class="flex-shrink-0">
                            <div class="p-2 bd-highlight">
                                <div class="d-flex flex-column;"><b><u>Ammenities</u></b></div>
                                <div style="float:left;">
                                    <ul class="list" id="amenities">
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="flex-grow-1 ms-3 row justify-content-center" style="gap: 5px;">

                        <div class="flex-grow-1 ms-3 row justify-content-evenly">
                            <label for="venue" class="col-md-2 col-form-label" style="text-align: left">Venue:</label>

                            <div class="col-lg-4 col-md-6">
                                <select class="form-select" type="select" id="venue" required>
                                    <option value="" selected hidden>Select a Room</option>
                                </select>
                            </div>
                        </div>

                        <div class="flex-grow-1 ms-3 row justify-content-evenly">
                            <label for="Date" class="col-md-2 col-form-label" style="text-align: left">Date:</label>

                            <div class="col-lg-4 col-md-6">
                                <input type="date" class="form-control" id="date" required>
                            </div>
                        </div>

                        <div class="flex-grow-1 ms-3 row justify-content-evenly">
                            <label for="startTime" class="col-md-2 col-form-label" style="text-align: left">Start
                                Time:</label>

                            <div class="col-lg-4 col-md-6">
                                <input type="text" class="form-control form-control-time form-timepicker"
                                    placeholder="Select Start Time" id="startTime" autocomplete="off" required />
                            </div>
                        </div>

                        <div class="flex-grow-1 ms-3 row justify-content-evenly">
                            <label for="endTime" class="col-md-2 col-form-label " style="text-align: left">End
                                Time:</label>

                            <div class="col-lg-4 col-md-6">
                                <input type="text" class="form-control  form-control-time form-timepicker" id="endTime"
                                    placeholder="Select End Time" autocomplete="off" required />
                            </div>
                        </div>

                        <div class="flex-grow-1 ms-3 row justify-content-evenly">
                            <label for="Cost" class="col-md-2 col-form-label" style="text-align: left">Cost:</label>

                            <div class="col-lg-4 col-md-6">
                                <span>$</span><span id="cost"></span>
                            </div>
                        </div>

                        <div class="button-wrapper d-flex flex-row justify-content-center">
                            <div class="p-5">
                                <button type="submit" class="btn btn-primary">Confirm</button>
                            </div>
                            <div class="p-5">
                                <button type="button" class="btn btn-light">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <%- include('../public/partials/scripts'); %>
            <script type="text/javascript" src="/javascript/addbooking.js"></script>
</body>

</html>