<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Booking Form Page</title>
        <%- include('../public/partials/head'); %>

        <style>
            .center-screen {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                min-height: 100vh;
            }
        </style>
    </head>
    <body>
        <%- include('../public/partials/nav'); %>
        <div class="container center-screen">
            <form>
                <div class="d-flex flex-column justify-content-center">
                    <div class="p-5"><h1>Booking Details</h1></div>
                </div>

                <div class="d-flex ">
                    <div class="flex-shrink-0">
                        <div class="p-2 bd-highlight">
                            <div class="d-flex flex-column;"><b><u>Ammenities</u></b></div>
                            <div style="float:left;">
                                <ul class="list">
                                    <li class="list">a</li>
                                    <li class="list">Dapibus ac facilisis in</li>
                                    <li class="list">Morbi leo risus</li>
                                    <li class="list">Porta ac consectetur ac</li>
                                    <li class="list">Vestibulum at eros</li>
                                </ul>                                
                            </div>

                            <div style="float:left;">
                                <ul class="list">
                                    <li class="list">Cras justo odio</li>
                                    <li class="list">Dapibus ac facilisis in</li>
                                    <li class="list">Morbi leo risus</li>
                                    <li class="list">Porta ac consectetur ac</li>
                                    <li class="list">Vestibulum at eros</li>
                                </ul>
                            </div>
                    </div>
                </div>

                <div class="flex-grow-1 ms-3 row justify-content-center">

                    <div class = "d-flex flex-row justify-content-left">
                        <h3>Summary:</h3>
                    </div>

                    <div class="flex-grow-1 ms-3 row justify-content-evenly">
                        <label
                        for="venue"
                        class="col-md-2 col-form-label"
                        style="text-align: left"
                        >Venue:</label>

                        <div class="col-lg-4 col-md-6">
                            <select class="form-control" type="select" id="venue">
                                <option>Room ABC</option>
                                <option>Room CDE</option>
                                <option>Room EFG</option>
                                <option>Room HIJ</option>
                                <option>Room LOL</option>
                                <option>Room HELP</option>
                                <option>Room ME</option>
                                <option>Room PLS</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="flex-grow-1 ms-3 row justify-content-evenly">
                        <label
                        for="Date"
                        class="col-md-2 col-form-label"
                        style="text-align: left"
                        >Date:</label>

                        <div class="col-lg-4 col-md-6">
                            <input type="date" class="form-control" id="Date" />
                        </div>
                    </div>
                    
                    <div class="flex-grow-1 ms-3 row justify-content-evenly">
                        <label
                            for="startTime"
                            class="col-md-2 col-form-label"
                            style="text-align: left"
                            >Start Time:</label>
                                    
                        <div class="col-lg-4 col-md-6">
                            <input type="time" class="form-control" id="startTime" />
                        </div>
                    </div>

                    <div class="flex-grow-1 ms-3 row justify-content-evenly">
                        <label
                            for="endTime"
                            class="col-md-2 col-form-label"
                            style="text-align: left"
                            >End Time:</label>
                    
                            <div class="col-lg-4 col-md-6">
                                <input type="time" class="form-control" id="endTime" />
                            </div>
                    </div>

                    <div class="flex-grow-1 ms-3 row justify-content-evenly">
                        <label
                            for="Cost"
                            class="col-md-2 col-form-label"
                            style="text-align: left"
                            >Cost:</label>

                        <div class="col-lg-4 col-md-6">
                            <p></p>
                        </div>
                    </div>

                    <div class = "button-wrapper d-flex flex-row justify-content-center">
                        <div class="p-5">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                        <div class="p-5">
                            <button type="button" class="btn btn-light">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <%- include('../public/partials/scripts'); %>
    </body>
</html>
