<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <%- include('../public/partials/head'); %>

        <link rel="stylesheet" type="text/css" href="/stylesheets/editPromoCodes.css" />

        <title>
            <%= title%>
        </title>
</head>

<body>
    <%- include('../public/partials/StaffNav'); %>
        <div class="header">
            <h1>Add Promo</h1>
        </div>
        <div id="editForm">

        </div>
        <script src="/javascript/editPromo.js" type="text/javascript"></script>
        <%- include('../public/partials/scripts'); %>
</body>

</html>