<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <%- include('../public/partials/head'); %>
        <title>
            <%= title%>
        </title>


        <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
</head>

<body>
    <%- include('../public/partials/nav'); %>
        <main>
            <div class="center-screen">
                <div class="card shadow-sm">
                    <div class="image-container card-img-top">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/UOW_Smart_Infrastructure_Facility.jpg"
                            class="login-image" alt="University of Wollongong" />
                        <h1><span>Welcome to UOW</span></h1>

                    </div>
                    <div class="card-body text-align-center">
                        <form id="loginForm">
                            <div class="row mb-3 justify-content-center">
                                <label for="inputUserType" class="col-md-2 col-form-label"
                                    style="text-align: left">Login as:</label>
                                <div class="col-lg-4 col-md-6">
                                    <select class="form-select" name="userType" type="select" id="userType">
                                        <option>Staff</option>
                                        <option>Student</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3 justify-content-center">
                                <label for="inputEmail" class="col-md-2 col-form-label"
                                    style="text-align: left">Email</label>
                                <div class="col-lg-4 col-md-6">
                                    <input type="email" name="email" class="form-control" id="email" />
                                </div>
                            </div>
                            <div class="row mb-3 justify-content-center align-text-start">
                                <label for="inputPassword" class="col-md-2 col-form-label"
                                    style="text-align: left">Password</label>
                                <div class="col-lg-4 col-md-6">
                                    <input type="password" name="password" class="form-control" id="password" />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                            <!--<div class="mt-5"><a href="#">Forgot Email/Password?</a></div>-->
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <script type="text/javascript" src="/javascript/login.js"></script>
        <%- include('../public/partials/scripts'); %>
</body>

</html>