<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <%- include('../public/partials/head'); %>

        <link rel="stylesheet" type="text/css" href="/stylesheets/userAdminCreate.css" />

        <title>
            <%= title%>
        </title>
</head>

<body>
    <%- include('../public/partials/adminNav'); %>
        <div class="header">
            <h1>Create Account</h1>
        </div>
        <div id="createForm">

        </div>
        <%- include('../public/partials/scripts'); %>
            <script src="/javascript/userAdminCreate.js" type="text/javascript"></script>
</body>

</html>