.header {
    text-align: center;
    font-family: Papyrus,fantasy;
    color:navy;
    padding-top: 50px;
}
.sdate {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 25px;
}
#table {
    padding-left:50px;
    padding-right:50px;
}
#displayDate {
    font-size: 35px;
}