<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../public/images/bookingDetails/uow.png" alt="" width="130" height="40"
        class="d-inline-block align-text-top">
    </a>
  </div>
</nav>